In [1]:
import pandas as pd

In [29]:
os.environ.get('AIRFLOW_CONFIG')

In [37]:
os.getcwd()

'/Users/junwei/Desktop/tap2023_dsaidde'

In [10]:
import sys
sys.path.append('/Users/junwei/Desktop/tap2023_dsaidde/section1/scripts')
import data_processing

In [13]:
data_processing.process()

dataset1.csv
dataset2.csv

In [12]:
from os import listdir
def find_csv_filenames(path_to_dir, suffix=".csv" ):
    filenames = listdir(path_to_dir)
    return [ filename for filename in filenames if filename.endswith( suffix ) ]
filenames = find_csv_filenames("/Users/junwei/Desktop/tap2023_dsaidde/section1/data")
filenames

['dataset1.csv', 'dataset2.csv']

In [9]:
filenames = listdir('/Users/junwei/Desktop/tap2023_dsaidde/section1/data')
[filename for filename in filenames if filename.endswith('.csv')]

['dataset1.csv', 'dataset2.csv']

In [46]:
os.chdir("../")

In [22]:
import glob
import os

path = 'data/'
extension = 'csv'
os.chdir(path)

files = glob.glob('*.{}'.format(extension))
for f in files:
    print(f)
    df = pd.read_csv(f)
    df.dropna(subset=['name'], inplace=True)
    df['price'] = df['price'].astype(float)
    df['first_name'] = [x.split(' ')[0] for x in df['name']]
    df['last_name'] = [x.split(' ')[1] for x in df['name']]
    df['above_100'] = df['price'] > 100
    os.chdir("../")
    os.chdir('processed/')
    df.to_csv('processed_' + f, index=False)
    os.chdir("../")
    os.chdir(path)

dataset1.csv
dataset2.csv

In [4]:
# df = pd.read_csv('data/dataset1.csv')
df = pd.read_csv('data/dataset2.csv')

In [18]:
df.dropna(subset=['name'], inplace=True)
df['price'] = df['price'].astype(float)
df['first_name'] = [x.split(' ')[0] for x in df['name']]
df['last_name'] = [x.split(' ')[1] for x in df['name']]
df['above_100'] = df['price'] > 100

In [21]:
df

                    name       price first_name  last_name  above_100
0         William Garcia  258.180909    William     Garcia       True
1        Barbara Freeman  141.890534    Barbara    Freeman       True
2      Rebecca Zimmerman  293.373272    Rebecca  Zimmerman       True
3     Patricia Velasquez  249.947925   Patricia  Velasquez       True
4           Ronnie Clark  272.908659     Ronnie      Clark       True
...                  ...         ...        ...        ...        ...
4995        Rachel Davis   95.253955     Rachel      Davis      False
4996     Connie Hamilton  205.396685     Connie   Hamilton       True
4997         Sean Kaiser   80.547371       Sean     Kaiser      False
4998     Ebony Rodriguez   93.205616      Ebony  Rodriguez      False
4999     Gregg Alexander  297.046886      Gregg  Alexander       True

[4961 rows x 5 columns]

FileNotFoundError: [Errno 2] No such file or directory: 'data/'

In [10]:
files

[]